<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><FONT FACE="JasmineUPC">
    <title>Profile</title>
    <style type="text/css">
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div  class="d" style="background-color: skyblue" >
    <center><h1>My Profile</h1></center>
    <div class="col-sm-12" >
        <div class="panel panel-default" style="background-color:burlywood " >
            <div class="panel-body" ><h3>

<br><br>
<div align="center"><img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/19525_935968363110310_7193502069450701573_n.jpg?_nc_cat=0&oh=526198844dcda1f19d01666693667865&oe=5B9E7127" class="img-circle" alt="Cinque Terre" width="200" height="200"></div>
<div align="center"><font color="white"><h1>อาชัญ  แสงพล</h1></font></div>
<font><font size=5><dd><h3>ประวัติส่วนตัว </h3></dd>
    &nbsp&nbsp&nbspเกิดวันที่ : 7 ธันวาคม 2537 &nbsp&nbsp อายุ 22 ปี
    <br>&nbsp&nbsp&nbspที่อยู่ปัจจุบัน : 375 หมู่ 11 บ้านดอนยาง ต.ศิลา อ.เมือง จ.ขอนแก่น
    <br>&nbsp&nbsp&nbspน้ำหนัก : 80 กิโลกรัม &nbsp&nbsp ส่วนสูง : 180 เซนติเมตร
    <h3><dd>นิสัยส่วนตัว</dd></h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspเป็นคนร่าเริง แจ่มใส ถ้าดูจากลักษณะภายนอกจะเป็นคนเงียบๆ แต่ถ้าได้สนิทกับใครแล้วจะเป็นคนพูดเก่ง
    คุยได้ทุกเรื่อง เป็นคนซื่อสัตย์<br>&nbsp&nbsp&nbsp
    ชอบพูดตรงๆ มีความเป็นตัวของตัวเองสูง พูดจาตรงไปตรงมา ไม่ค่อยชอบสังคมที่มีคนเยอะๆ
    เพราะต้องมีการวางตัวซึ่งไม่ค่อยถนัดสักเท่าไหร่ <br>
    <br>&nbsp&nbsp&nbsp Tel : 082-7428305
    <br>&nbsp&nbsp&nbsp E-mail : tabodyza@@hotmail.com
    <br>&nbsp&nbsp&nbsp Facebook : <a href="https://www.facebook.com/archun.ta">Archun Sangphon</a></div>
    <br>&nbsp&nbsp&nbsp Line : <a href="http://line.me/ti/p/hpzuNHzCD7">Tabody</a></div>

    <br>
    <div align="center"><a href="/"><font size=5>กลับสู่หน้าหลัก</font></a></div>
</font>
    <br><br><br>
</div>
    </div>

</body>
</html>
