@(name:String,brand:String,model:String,price:Double,amount:Double)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"><FONT FACE="JasmineUPC">
  <title></title>
  <style type="text/css">
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2><p style="background-color: #FFFF66" align=center> <strong> <b> สินค้า  </b></strong></p></h2>
<div class="container-fluid" style="background-color: #b9def0" >
<div class="panel-body"style="color: black">
  <div class="container">
    <div class="form-group">
      <h1>
      <label> ชื่อ : @name </label> <br>
      <label> ยี่ห้อ : @brand </label> <br>
      <label> รุ่น : @model </label> <br>
      <label> ราคา : @price </label> <br>
      <label> จำนวน : @amount </label> <br>
      </h1>



    </div>
      </div>
</body>
</html>